@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.card{
  background-color: #B29344;
  padding: 15px;
  border-radius: 10px;
  position: relative;
}


.img{
    width:  250px;
    height: 250px;
    object-fit: cover;
  border-radius: 10px;
}

.name{
  position: absolute;
  top: -3px;
  left: 8%;
  right: 15%;
  width: 250px
}

.nameString{
  font-family: "DM Sans", sans-serif;
  background: linear-gradient(#b29344a6, #b2934400);
  border-radius: 10px;
  font-size: large;
  text-shadow: 1px 1px #b29344;
}

.weight{
  position: absolute;
  top: 223px;
  left: 25.3px;
  width: 250px
}

.weightNumber{
  font-family: "DM Sans", sans-serif;
  background: linear-gradient(#b2934400, #b29344a6);
  border-radius: 10px;
  font-size: large;
  text-shadow: 1px 1px white;
}

.temp{
  padding: 20px;
  gap: 8%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 15px;
  align-items: stretch;
}

.tempButtons{
  font-family: "DM Sans", sans-serif;
  color: white;
  background-color: #7b6413;
  border: none;
  border-radius: 10px;
  padding-bottom: 5px;
  padding-top:    5px;
  padding-left:   10px;
  padding-right:  10px;
}

@media only screen and (min-width: 1450px) {
  .name{
    position: absolute;
    top: -3px;
    left: 20%;
    width: 250px
  }
}

@media only screen and (max-width: 850px) {
  .card{
    background-color: #B29344;
    border-radius: 10px;
    display: flex;
    position: relative;
  }
  
  
  .img{
      width:  200px;
      height: 200px;
      object-fit: cover;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .name{
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    left: 0%;
  }
  
  .nameString{
    font-family: "DM Sans", sans-serif;
    background: linear-gradient(#b29344a6, #b2934400);
    border-radius: 10px;
    font-size: large;
    text-shadow: 1px 1px #b29344;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .weight{
    top: 75%;
    left: 0%;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .weightNumber{
    font-family: "DM Sans", sans-serif;
    background: linear-gradient(#b2934400, #b29344a6);
    border-radius: 10px;
    font-size: large;
    text-shadow: 1px 1px #b29344;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .temp{
    padding: 20px;
    display: grid;
    grid-gap: 15px;
    align-items: stretch;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .tempButtons{
    font-family: "DM Sans", sans-serif;
    color: white;
    background-color: #7b6413;
    border: none;
    border-radius: 10px;
    padding-bottom: 2.5px;
    padding-top:    2.5px;
    padding-left:   5px;
    padding-right:  5px;
  }
}